extend public
block body
	h3 Realización de una aplicación cliente servidor en JS
	section
		table(id="tabla")
			thead
				tr
					td
					td ID
					td Nombre
					td Edad
			tbody
		input(type="button", value="Agregar", id="agregar")
		input(type="button", value="Editar", id="editar")
		input(type="button", value="Eliminar", id="eliminar")
		p(id="mensaje")
	section(id="editarModal", style="display:none;")
		input(type="hidden", name="loki", id="loki", value="")
		label Nombre *
		input(type="text", name="nombre", id="nombre", placeholder="Nombre *", value="")
		label Edad *
		input(type="text", name="edad", id="edad", placeholder="Edad *", value="")
		input(type="button", id="guardar", value="Guardar")
		input(type="button", id="borrar", value="Borrar")
		input(type="button", id="cancelar", value="Cancelar")
		p(id="validar")