doctype
html(lang='es')
	head
		meta(charset="utf-8")
		title Realización de una aplicación cliente servidor en JS
		meta(name="author", content="Veselin Georgiev | veselingp@hotmail.com")
		meta(name="description" content="API REST sencilla que almacena datos de una persona")
		script(type="application/javascript", src="/js/jquery.js")
		script(type="application/javascript", src="/js/simplemodal.js")
		script(type="application/javascript", src="/js/script.js")
		style.
			#simplemodal-overlay{
				background: #ffffff;
			}
	body
		block body